
body {
  font-family: 'Open Sans', sans-serif;
}







/* sharde-style */
.font-color{
    color: orange;
}
.dark-2{
    color: #474747;
}
.font-color1{
    color: white;
}
.dark-1{
    color
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bgc{
    background-color: #FFF8F3;
}


/* header style */

.header{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-size: auto , 400px; */
    

}
     
/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}


nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style..... */

.banner{
    /* display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px; */
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}
.banner-content{
    max-width: 480px;
}
.banner-gritings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 0;
    line-height: 1.1;
    white-space: nowrap;
}

.pera-banner-description{
    font-size: 18px;

}

/* image style */

.banner-profile-pic{
    /* width: 580px; */
    width: 500px;
    height: auto;
}

/* about related section css style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
}